<div class="container">
    <h2>Manage Comments</h2>
    <h3>All Comments</h3>

    <button *ngIf="!isCreating" (click)="createNewComment()">Add New Comment</button>

    <!-- Display New Comment Form -->
    <div *ngIf="isCreating" class="edit-form">
        <h3>Create New Comment</h3>
        <form [formGroup]="newCommentForm">

            <label for="patientUid">Patient UID</label>
            <input id="patientUid" formControlName="patientUid" />

            <label for="medicUid">Medic UID</label>
            <input id="medicUid" formControlName="medicUid" />

            <label for="text">Text</label>
            <input id="text" formControlName="text" />

            <label for="date">Date</label>
            <input id="date" formControlName="date" />

            <label for="time">Time</label>
            <input id="time" formControlName="time" />

            <label for="medic">Medic</label>
            <input id="medic" formControlName="medic" />


            <button type="button" (click)="saveNewComment()">Save</button>
            <button type="button" (click)="cancelCreate()">Cancel</button>
        </form>
    </div>

    <div *ngIf="comments.length > 0; else noComments">


        <div *ngIf="editIndex !== null" class="edit-form">

        <h3>Edit Comment</h3>
        <form [formGroup]="commentForms[editIndex]">
            <label for="patientUid">Patient UID</label>
            <input id="patientUid" formControlName="patientUid" />

            <label for="medicUid">Medic UID</label>
            <input id="medicUid" formControlName="medicUid" />

            <label for="text">Text</label>
            <input id="text" formControlName="text" />

            <label for="date">Date</label>
            <input id="date" formControlName="date" />

            <label for="time">Time</label>
            <input id="time" formControlName="time" />

            <label for="medic">Medic</label>
            <input id="medic" formControlName="medic" />

            <button type="button" (click)="saveComment(editIndex)">Save</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
        </form>

    </div>

    <table class="comments-table">
        <thead>
            <tr>
                <th>Patient UID</th>
                <th>Medic UID</th>
                <th>Text</th>
                <th>Date</th>
                <th>Time</th>
                <th>Medic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of comments; let i = index">
                <td>{{ comment.patientUid }}</td>
                <td>{{ comment.medicUid }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.date }}</td>
                <td>{{ comment.time }}</td>
                <td>{{ comment.medic }}</td>
                <td>
                    <button (click)="editComment(i)">Edit</button>
                    <button (click)="deleteComment(i)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>

    </div>

    <ng-template #noComments>
        <p>No comments found</p>
    </ng-template>


    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>

</div>